.social{   
    position: absolute;
    top: 100px;
    padding: 5px 5px; 
    display: inline-block;
    
    border-radius: 20px;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    box-shadow: 10px 2px 12px 2px #34495E;

    /* box-shadow: 10px 2px 12px 2px #34495E; */
    z-index: 5100;   
}

img {

    width: 60px;
    height: 60px;
}

.whatsapp {
    position: absolute;
    top: 410px;
    padding: 5px 5px; 
    display: inline-block;
    border-radius: 20px;
    /* padding-left: 1%;
    padding-right: 1%; */
    /* box-shadow: 10px 2px 12px 2px #7BD081; */
    box-shadow: 10px 2px 12px 2px #34495E;

    z-index: 5100;
}

p{
    font-weight: 200;   
    color: aliceblue;
    text-align: center;

}

footer {
    width: 100vw;
    background-color:#34495E;
    padding: 0;
}